

body {
  font-family: Arial, sans-serif;
  background-color: #bbd5f0;
  margin: 40px;
  text-align: center;
}

h1, h2, h3 {
  color: #333;
}

h4 {
  color:  #007bff;
  font-weight: bold;
}



button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #023368;
}



.buttonconfirm {
  background-color: #2aaa0b;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.buttonconfirm:hover {
  background-color: #1b6b07;
}


.buttondecodificar {
  background-color: #ff5100;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.buttondecodificar:hover {
  background-color: #8b2f07;
}



input {
  padding: 8px;
  width: 60%;
  margin: 5px;
  border: 1px solid #007bff;
  background-color: #ffffff;
  border-radius: 4px;
}



footer {
  margin-top: 50px;
  color: #333;
  font-size: 14px;
}
